body {
    background-color: #382f3d;
}

.call-iconbtn {
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50%;
    fill: #fff;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms, 150ms;
}

.call-iconbtn:hover {
    background-color: #625769;
}

.call-iconbtn:focus {
    background-color: #625769;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}